            //variables
            $maincolor:#FBA919;
            $secondColor:#343434;
            $thirdcolor:whitesmoke;
            body {
                height: 2000px;
            }
            
            //scrollbar
            /* width */
            
             ::-webkit-scrollbar {
                width: 15px;
            }
            /* Track */
            
             ::-webkit-scrollbar-track {
                background: $secondColor;
            }
            /* Handle */
            
             ::-webkit-scrollbar-thumb {
                background: $maincolor;
            }
            /* Handle on hover */
            
             ::-webkit-scrollbar-thumb:hover {
                background: rgb(255, 221, 111);
            }
            
            //End scrollbar
            //start navbAr
            .navbar {
                background-color: $secondColor;
            }
            
            .navbar-brand span {
                font-size: 30px;
            }
            
            .navbar-brand span:first-child {
                color: $thirdcolor;
                font-weight: bold;
            }
            
            .navbar-brand span:last-child {
                color: $maincolor;
                font-weight: bolder;
            }
            
            .navbar-nav .nav-link {
                font-size: 20px;
                text-transform: uppercase;
                color: $thirdcolor !important;
            }
            
            .navbar-nav .active>.nav-link {
                color: $maincolor !important;
            }
            
            .dropdown-menu {
                background-color: $secondColor;
            }
            
            .dropdown-menu .dropdown-item {
                color: $thirdcolor;
                transition: all .4s ease-in-out;
            }
            
            .dropdown-menu .dropdown-item:hover {
                background-color: $maincolor;
            }
            
            //end navbar
            //start slider
            .carousel-item {
                height: 40rem;
                background-color: $secondColor;
                color: $thirdcolor;
                position: relative;
            }
            
            .carousel-item .container {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding-bottom: 50px;
            }
            
            .carousel-item .container h1 {
                font-size: 50px;
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 30px;
            }
            
            .carousel-item .container p {
                line-height: 1.5;
                font-size: 17px;
                margin-bottom: 25px;
            }
            
            .carousel-item .container button {
                font-size: 25px;
                padding: 10px 25px;
                font-weight: bolder;
                margin: auto;
            }
            
            .overlay-img {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                background-position: center;
                background-size: cover;
                opacity: 0.7;
            }
            
            //end slider
            //start formLogin
            .overlay {
                width: 100%;
                height: 100%;
                background-color: #2125299c;
                z-index: 2;
                display: none;
            }
            
            .form-popup {
                z-index: 3;
                width: 40%;
                display: none;
            }
            
            .form-popup .form-label {
                font-size: 19px;
                font-weight: 500;
            }
            
            .form-control:focus {
                box-shadow: 1px 1px 6px $maincolor;
                border-color: $maincolor;
            }
            
            .btn {
                font-size: 1.5rem;
                margin-top: 25px;
            }
            
            .close-btn {
                top: -15px;
                right: -15px;
                background-color: $maincolor;
                color: $thirdcolor;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                text-align: center;
                line-height: 30px;
                font-size: 15px;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                cursor: pointer;
            }
            
            //end formLogin
            //start overview
            .overview {
                padding: 80px;
                background-color: $secondColor;
            }
            
            .overview h1 {
                font-size: 50px;
                text-transform: uppercase;
                color: $maincolor;
                font-weight: bold;
                margin-bottom: 30px;
            }
            
            .overview p {
                line-height: 1.5;
                font-size: 17px;
                color: $thirdcolor;
                width: 80%;
                margin: auto;
                margin-bottom: 15px;
            }
            
            .overview h4 {
                color: $maincolor;
            }
            
            //end overview
            //start fixedbg
            .bfixed {
                position: relative;
                width: 100%;
                height: 1vh;
                display: table;
                margin-top: 50px;
                background-color: $secondColor;
                z-index: -1;
            }
            
            .home-wrap {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            
            .home-inner {
                position: fixed;
                display: table;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(/img/background.jpg);
                background-size: cover;
                transform: translate(0);
            }
            
            //end fixedbg
            //start clients
            .clients {
                padding: 50px 0;
                top: 0;
                color: $thirdcolor;
            }
            
            .clients i {
                background-color: $maincolor;
                padding: 25px;
            }
            
            .clients p {
                margin-bottom: 20px;
                color: blanchedalmond;
            }
            
            //end clients
            //start topic
            .topic {
                padding: 80px 0;
                color: $thirdcolor;
                background-color: $secondColor;
            }
            
            .topic p {
                margin-bottom: 30px;
            }
            
            .topic ul {
                margin-top: 40px;
            }
            
            .topic ul li {
                color: blanchedalmond;
                border: 1px solid $maincolor;
                padding: 10px 20px !important;
                margin-left: 10px;
                border-radius: 13px;
                margin-bottom: 10px;
                transition: all .3s ease-in-out;
            }
            
            .topic ul li.active,
            .topic ul li:hover {
                color: $thirdcolor;
                border: 1px solid $maincolor;
                background-color: $maincolor;
                cursor: pointer;
            }
            
            .topic .shuffle-images {
                margin-top: 40px;
            }
            
            .topic .row .col-md img {
                width: 100%;
            }
            
            .topic .row .col-md {
                padding: 0;
                transition: all .6s ease-in-out;
            }
            
            //end topic
            //start footer
            .footer {
                margin-top: 30px;
                position: absolute;
                width: 100%;
                margin: 29px 0px;
                background-color: $thirdcolor;
                color: $secondColor;
                padding: 47px;
                border-top: 5px solid $maincolor;
                line-height: 2;
            }
            
            .footer .row .scroll-top a {
                width: 40px;
                height: 40px;
                background-color: $secondColor;
                color: $maincolor;
                font-size: 36px;
                border-radius: 50%;
                margin-bottom: 13px;
                padding: 3px;
            }
            
            .footer .container .col-md .footer-link a {
                font-size: 20px;
                margin-top: 48px;
                color: $maincolor;
            }
            
            //endfooter